.cartComponent {

    /* position: relative; */
    /* background-color: black; */
    width: 90vw;
    height: 100vh;

}

.insideComponent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: black; */
    background-color: white;
}